body {
    background-color: #daeef1;
    font-family: Helvetica, Arial, sans-serif;
    padding: 2px;
    max-width: 80%;
    margin-left:10%;
    margin-right:10%;

  }
#smallbox {
width: 100px;
height: 100px;
background-color: pink;
position: absolute;

top: 20px;
right: 30px;
left: 40px;
bottom: 75px;

}  

#bigbox {
  width: 500px;
  height: 500px;
  background-color: palevioletred;
  position: relative;
}

