body {
    background-color: #daeef1;
    font-family: Helvetica, Arial, sans-serif;
    padding: 2px;
    max-width: 80%;
    margin-left:10%;
    margin-right:10%;

  }
  
section {
    max-width: 100%;
    align-content: center;

  }

ul {
    background-color: #daeef1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: larger;
    padding-top: 2px;
    padding-left: 10px;
    margin:10px;
    list-style-type: none;
      }
  
      
#workexp {
  background: #416a70;
     }   


.blurb {
  background-color: blue;
}

.dated {
  background-color: pink;
}