body {
    font-family: 'Crimson Pro', serif;
    padding: 10px;
    max-width: 90%;
    margin-left:5%;
    margin-right:5%;
  }
  
section {
    max-width: 100%;
    align-content: center;

  }

ul {
    list-style-type: none;
      }  

.blurb {
  background-color: blue;
}

.dated {
  background-color: pink;
}